// If you edit this file you need to compile the theme. See README.md for details.
// Global variable overrides. Must be declared before importing Valo.
// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 16px;
$v-font-weight: 300;
$v-font-family: "Open Sans", sans-serif;
// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;
// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;
// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;
// Defines colors for indicating status (focus, success, failure)
$v-focus-color: #0d5dc4; // Calculates a suitable color automatically
$v-friendly-color: #26A65B;
$v-error-indicator-color: #c20047;
// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
/* Import the valo theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
//noinspection CssUnknownTarget
@import "../valo/valo.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mytheme {
  /* Include all the styles from the valo theme */
  @include valo;

  /* Insert your theme rules here */
  .portlet-footer {
    font-size: 9pt;
    text-align: right;
    padding-top: 50px;
  }

  .number {
    font-size: 40px;
    text-align: center;
  }

  .overdue {
    color: #c20047;
    font-size: 40px;
    text-align: center;
  }

  .unregistered {
    color: #ff9a00;
    font-size: 40px;
    text-align: center;
  }

  .intime {
    color: #26A65B;
    font-size: 40px;
    text-align: center;
  }

  .red {
    color: #c20047;
    font-size: 25px;
  }

  .orange {
    color: #ff9a00;
    font-size: 25px;
    text-align: center;
  }

  .green {
    color: #26A65B;
    font-size: 25px;
  }

  .center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .header {
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
  }

  .v-grid-cell.ov {
    color: #c20047;
    font-weight: bold;
    font-size: 20px;
  }

  .v-grid-cell.un {
    color: #ff9933;
    font-size: 20px;
  }

  .v-grid-cell.in {
    color: #26A65B;
    font-size: 20px;
  }

  .v-error-indicator-color {
    color: #c20047;
  }

  .v-friendly-color {
    color: #26A65B;
  }
}
